#homeWrap .con {
  overflow: hidden;
  position: relative;
  text-align: center;
}

#homeWrap .img {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  left: -1920px;
  min-width: 1920px;
}

#homeWrap .tr {
  transition: all 0.5s ease-in;
}

#homeWrap .img li {
  display: inline-block;
  width: 100%;
  height: 54rem;
  flex-shrink: 0;
  /* background-size: cover;
  background-position: 50% 50%; */
}

#homeWrap ul.img {
  background-size: cover;
  background-position: 50% 50%;
}


#homeWrap ul.img li div {
  height: 864px;
  padding: 0 480px;
  padding-top: 250px;
  box-sizing: border-box;
  background-color: #00000088;
  text-align: center;
  color: white;
}

#homeWrap ul.img p {
  font-size: 25px;
  margin-bottom: 20px;
}

#homeWrap ul.img h1 {
  font-size: 130px;
  font-weight: bolder;
}

#homeWrap .img1 {
  background-image: url("../img/main_visual1.jpg");
}

#homeWrap .img2 {
  background-image: url("../img/main_visual2.jpg");
}

#homeWrap .img3 {
  background-image: url("../img/main_visual1.jpg");
}

#homeWrap .img4 {
  background-image: url("../img/main_visual2.jpg");
}

#homeWrap .con > div {
  width: 100%;
  position: absolute;
  top: 800px;
}

#homeWrap .con > div > p {
  display: inline-block;
  content: "";
  left: 800px;
  width: 35px;
  height: 4px;
  z-index: 10;
  margin: 0 2.5px;
}

#homeWrap .b-white {
  background-color: white;
}

#homeWrap .b-gray {
  background-color: #ffffff33;
}