.main-footer{
  height: 300px;
  text-align:center;
  background-color: black;
}
.footer-img > ul  li {
  display:inline-block;
  justify-content:center;

  
}
.footer-img > ul > li > a > img{
  width:20px;
  margin-top: 60px;
  margin-bottom: 40px;
  padding-left: 50px;
  opacity: 0.5;
}
.address{
  width: 100px;
  height: 250px;
  margin-top:50px;
  padding-top: 0;
  display: inline;
  text-align: center;
 
  background-color:black;
}
span{
  color: #666;
  font-size:13px ;
  line-height:35px ;
}
strong{
  color: #b5b2b2;
  font-weight: bolder;
  font-size:16px ;
}
p{
  margin-top:40px ;
  color: #666;
  font-size:15px ;
}

