/* 타이틀 부분 */
#portfolioWrap .portfolio-title_section {
  text-align: center;
  padding-top: 130px;
}

#portfolioWrap .potofolio-title_contents {
  display: block;
  margin: 0 auto;
  margin-bottom: 6vw;
}

#portfolioWrap .potofolio-title h3 {
  font-size: 32px;
  color: #232323;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

#portfolioWrap .potofolio-line {
  text-align: center;
  margin: 0 auto;
  width: 100px;
  height: 2px;
  background-color: #f7d23d;
}

#portfolioWrap .potofolio-lorem {
  margin-top: 20px;
  font-size: 1vw;
  color: #666;
}

/* 메뉴 부분 */
#portfolioWrap .potofolio-menu_contents {
  padding: 0 auto;
  margin-bottom: 20px;
}

#portfolioWrap .potofolio-list {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

#portfolioWrap .potofolio-menu_contents li {
  margin: 0 0 0 2%;
}

#portfolioWrap .potofolio-menu_contents a {
  color: #666;
  text-decoration: none;
  font-size: 1vw;
  font-weight: bolder;
}

#portfolioWrap .potofolio-menu_contents li:hover{
  text-decoration: underline;
}

/* .underline {
  position: relative;
} */

#portfolioWrap .underline::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 120%;
  background-color: black;
}

/* 이미지 부분 */
#portfolioWrap .portfolio-img_section ul {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

#portfolioWrap .potofolio-img {
  width: 20%;
  margin: 1% 1.5%;
 
}

#portfolioWrap .potofolio-img img {
  width: 100%;
}

#portfolioWrap .potofolio-img_info {
  display: none;
  background-color: black;
}
.potofolio-img:hover .potofolio-img_info {
  display: block;
}